
table {
 padding: 0;
 width: 100%;
 table-layout: auto;

}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .10em;
}

table th,
table td {
    padding: .20em;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;
}

table th {
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
        width: 100%;
    }

    table thead {
        clip: rect(0 0 0 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

    table tr {
        display: block;
        margin-bottom: 15px;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .6em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
        border: 1px solid #ddd;
    }
}

/*error jquery*/
.error{
    color:red;
    font-style: italic;
}